@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --cor-primaria: #f5c425;
  --cor-secundaria: #f1f734;
  --black: #000;
  --white: #fff;
  --fonte-primaria: "DM Sans", sans-serif;
  --fonte-secundaria: Arial, sans-serif;
  --gradiente-nav-bar: linear-gradient(
    210deg,
    rgba(0, 0, 0, 1),
    rgba(145, 126, 98, 1),
    rgba(0, 0, 0, 1)
  );
}

/* INICIA ESTILIZAÇÃO HEADER */

header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 100px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--cor-primaria);
  cursor: pointer;
}

.hero-header,
.main-container {
  position: relative;
  width: 100%;
}

.nav-bar {
  width: 100%;
  background: var(--gradiente-nav-bar);
  box-shadow: 0 4px 8px rgba(100, 82, 82, 0.9);
}

.container {
  margin: 0px 120px;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-bar .logo {
  height: 70px;
  box-shadow: 0px 0px 4px 4px rgb(245, 234, 234);
}

.menu a {
  color: var(--white);
  font-weight: 600;
  margin-left: 20px;
  text-decoration: none;
  font-family: var(--fonte-primaria);
  font-size: 1.8vw;
  position: relative;
  transition: color 0.4s ease;
  text-shadow: 3px 3px 6px rgba(20, 0, 0, 1);
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-primaria);
  transition: width 0.4s ease;
}

.menu a:hover {
  color: var(--white);
}

.menu a:hover::after {
  width: 100%;
}

.hero-image {
  position: relative;
  background: url("../images/banner-estilizado.jpg") center/cover no-repeat;
  height: calc(100vh - 90px);
  filter: brightness(1.1);
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  color: var(--white);
  padding: 0 30px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-text h2 {
  font-size: 48px;
  margin-bottom: 10px;
  font-family: var(--fonte-primaria);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  color: var(--cor-primaria);
}

.hero-text h4 {
  font-size: 24px;
  font-family: var(--fonte-secundaria);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}
/* FINALIZA ESTILIZAÇÃO HEADER */

/* INICIA SOBRE NÓS */
.sobre-nos {
  height: calc(100vh - 100px);
  display: flex;
  position: relative;
  box-shadow: 0 4px 8px rgba(100, 82, 82);
  border-top: 5px solid rgba(240, 157, 33, 0.7);
  border-bottom: 5px solid rgba(240, 157, 33, 0.7);
}

.sobre-nos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
  background: url("../images/banner-estilizado.jpg") center/cover no-repeat;
}

.sobre-nos-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 2s ease;
}

.sobre-nos-container:hover:after {
  background-color: rgba(0, 0, 0, 0);
}

.imagem-about {
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.imagem-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-about {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.text-about h2 {
  font-family: var(--fonte-primaria);
  font-size: 2.8vw;
  margin-bottom: 35px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.text-about p {
  font-family: var(--fonte-primaria);
  font-size: 1.3vw;
  line-height: 1.6;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.text-about .container {
  margin-left: 40px;
}

.nav-button {
  background-color: yellow;
  border: none;
  cursor: not-allowed;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  z-index: 2;
  opacity: 0.5;
  transition: opacity 0.3s, background-color 0.3s;
}

.nav-button:hover {
  opacity: 1;
  background-color: gold;
  cursor: pointer;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}
/* FINALIZA SOBRE NÓS */

/* INICIA BEBIDAS */
.bebidas-section {
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(61, 60, 53));
  box-shadow: 0 4px 8px rgba(100, 82, 82);
  border-top: 5px solid rgba(255, 255, 255, 0.7);
  border-bottom: 5px solid rgba(255, 255, 255, 0.7);
}

.bebidas-section h2 {
  font-family: var(--fonte-primaria);
  font-size: 36px;
  margin-bottom: 35px;
  color: var(--white);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.carousel-container {
  position: relative;
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
  justify-content: space-between;
  width: 90%;
}

.card {
  flex: 0 0 30%;
  padding: 10px;
  box-sizing: border-box;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  border: 2px solid var(--cor-primaria);
  margin: 0px 10px;
  background: linear-gradient(
    to bottom,
    rgb(226, 226, 224),
    rgb(168, 161, 119)
  );
}

.card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 30%;
  transition: transform 0.6s ease;
}

.card-info {
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.card:hover .card-image img {
  transform: scale(1.4);
}

.card-info h3 {
  font-size: 24px;
  color: var(--black);
  margin: 10px 0;
}

.ver-mais {
  display: inline-block;
  font-size: 18px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(100, 98, 83));
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  color: var(--black);
  padding: 12px;
  z-index: 10;
  background-color: yellow;
  border: none;
  cursor: not-allowed;
  font-size: 24px;
  opacity: 0.5;
}

.carousel-button.left {
  left: 40px;
}

.carousel-button.right {
  right: -8px;
}

.card-image:hover img {
  transform: scale(1.9);
}

.ver-mais:hover {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(100, 98, 83));
  color: var(--black);
  font-weight: 600;
}

.carousel-button:hover {
  cursor: pointer;
  opacity: 1;
}

/* FINALIZA BEBIDAS */

/* Inicia avaliação */
.card-avaliacao {
  background-color: var(--cor-primaria);
}

.aval-card{
  background-color: var(--cor-primaria);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 40px;
  box-shadow: 6px 6px 10px #0000003a;
}

.aval-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  max-width: 1000px;
  margin: 0 auto;
  grid-gap: 40px;
}


.aval-titulo{
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem 0;
  font-size: 40px;
}

.aval-card .user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.aval-card h3{
  font-family: var(--fonte-primaria);
  margin-bottom: 5px;
}

.aval-card p{
  margin-top: 20px;
  text-align: center;
  font-family: var(--fonte-secundaria);

  font-size: 18px;
}

.star {
  width: 20px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .aval-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .aval-titulo {
    font-size: 30px;
  }

  .aval-card {
    padding: 25px 30px;
  }

  .aval-card p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .aval-cards {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .aval-titulo {
    font-size: 24px;
    margin: 3rem 0 3rem 0;
  }

  .aval-card {
    padding: 20px;
  }

  .aval-card p {
    font-size: 14px;
  }

  .aval-card .user {
    width: 80px;
    height: 80px;
  }

  .star {
    width: 16px;
  }
}
/* finaliza avaliação */
/* INICIA FOOTER */

/* Finaliza footer */
@media (max-width: 860px) {

  .container{
    margin: 0px 50px;
  }

  .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu a {
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .hero-image {
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
  
  .hero-text h2 {
    font-size: 32px;
    width: 80%;
  }
  
  .hero-text h4 {
    font-size: 18px;
    width: 60%;
  }

  .sobre-nos {
    height: 60vh;
  }

  .sobre-nos-container{
    width: 60%;
  }
  
  
  .text-about h2 {
    font-size: 2.8vw;
  }
  
  .text-about p {
    font-size: 1.6vw;
  }
  
  .text-about .container {
    margin-left: 10px;
  }

  .nav-button {
    font-size: 18px;
  }

  .bebidas-section {
    height: 60vh;
  }
  
  .bebidas-section h2 {
    font-size: 28px;
  }
  
  .carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    width: 80%;
  }
  
  .card {
    height: 36vh;
  }
    
  .card:hover .card-image img {
    transform: scale(1.2);
  }
  
  .card-info h3 {
    font-size: 1.8vw;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .ver-mais {
    font-size: 14px;
  }
  
  .carousel-button {
    font-size: 18px;
  }
  
  .carousel-button.left {
    left: 40px;
  }
  
  .carousel-button.right {
    right: -8px;
  }
  
  .card-image:hover img {
    transform: scale(1.5);
  }
 
}

@media (max-width: 500px) {

  .menu {
    display: none;
    flex-direction: column;
    background: var(--gradiente-nav-bar);
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    text-align: center;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, right 0.4s ease;
    z-index: 100;
  }
  
  .menu a {
    margin: 20px 0;
    color: var(--white);
    font-size: 1.3rem;
    text-decoration: none;
    justify-content: center;
  }
  
  .menu.show {
    display: flex;
    right: 0; 
  }

  .menu-toggle {
    display: block; 
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--cor-primaria);
    cursor: pointer;
    z-index: 110;
  }
  
  .menu-toggle:focus {
    outline: none;
  }

  .nav-bar{
    height: 97px;
  }

  .nav-bar .logo {
    height: 50px;

  }

  .container{
    margin: 0px 30px;
  }

  .hero-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .hero-text h2 {
    font-size: 48px;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .hero-text h4 {
    font-size: 22px;
    width: 80%;
    line-height: 34px;
  }

  .sobre-nos {
    flex-direction: column-reverse;
    height: 85vh;
  }

  .sobre-nos-container {
    width: 100%;
    height: 50vh;
    background-size: cover;
  }

  .text-about {
    width: 100%;
    padding: 10px; 
    text-align: center;
  }

  .text-about h2 {
    font-size: 4vw;
  }

  .text-about p {
    font-size: 3.5vw;
    line-height: 1.5;
  }

  .nav-button {
    font-size: 16px;
  }
  
}